<h3>Average Response Time</h3>
<% @avg_response_time.each do |row| %>
  <div id = "url">
    <a href=<%= "/sources/#{@identifier[:identifier]}/urls#{row[:relative_path]}" %>>
      <%= row[:url] %>
    </a>
  </div>
  <div id = "avg_response_time"><%= row[:avg].to_f %>ms</div>
  </br>
<% end %>
