<h2>Average Response Time</h2>
<% @avg_response_time.each do |row| %>
  <span id = "url">
    <a href=<%= "/sources/#{@identifier[:identifier]}/urls#{row[:relative_path]}" %>>
      <%= row[:url] %>
    </a>
  </span>
  <span id = "avg_response_time"><%= row[:avg].to_f %>ms</span>
  </br>
<% end %>
