<h3> Most Popular User Agents: </h3>
<div id = "most_popular_user_agents">
  <% @popular_user_agents.each do |row| %>
    <div><%= row[:browser] +' / '+ row[:os] %></div>
    </br>
  <% end %>
</div>
