<h3>URLs By Rank</h3>
<% @rank_url.each do |row| %>
  <div id = "url">
    <a href=<%= "/sources/#{@identifier[:identifier]}/urls#{row[:relative_path]}" %>>
      <%= row[:url] %>
    </a>
  </div>
  <div id = "url_count"><%= row[:count] %></div>
  </br>
<% end %>


