
<span id = "longest_response_time">
  Longest Response Time: <%= @longest_response_time %>ms
</span>
</br>

<span id = "shortest_response_time">
  Shortest Response Time: <%= @shortest_response_time %>ms
</span>
</br>

<span id = "average_response_time">
  Average Response Time: <%= @average_response_time.to_f %>ms
</span>
</br>


