
<div id = "longest_response_time">
  Longest Response Time: <%= @longest_response_time %>ms
</div>
</br>

<div id = "shortest_response_time">
  Shortest Response Time: <%= @shortest_response_time %>ms
</div>
</br>

<div id = "average_response_time">
  Average Response Time: <%= @average_response_time.to_f %>ms
</div>
</br>


