<h1>Events Index</h1>

<h2>Events</h2>
<% if events_list.empty? %>
  <p>
    No Events Defined
  </p>
<% else %>
  <% events_list.each do |row| %>
  <span id = "event_names">
    <a href="/sources/<%= identifier %>/events/<%=row[0]%>"><%="#{row[0]}"%></a>
  </span>
  <span id = "event_count"><%= row[1] %></span>
  </br>
  <% end %>
<% end %>
